node_modules/
.expo/
dist/
build/
coverage/
*.log
.env
.env.*
!.env.example
android/.gradle/
android/build/
android/app/build/
android/.cxx/
ios/Pods/
ios/build/
.DS_Store
expo-env.d.ts

android/app/debug.keystore
